Carpeta con todo/Lenguaj de marcas/xsdalumnos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="bdalumnos">
    <xs:complexType>
      <xs:sequence>
        <xs:element  name="alumno" maxOccurs="unbounded">
      <xs:complexType>
    <xs:sequence>
          <xs:element name="nombre" type="xs:string" />
          <xs:element name="padre" type="xs:string" />
          <xs:element name="madre" type="xs:string" />
          <xs:element name="edad" type="xs:int" />
          <xs:element name="ciudad" type="xs:string" />
  </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>